* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    color: #333;
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
    padding: 10px;
    background: linear-gradient(to bottom, #1abc9c 0%, #3498db 100%);
}
.wrapper {
    background: #fff;
    max-width: 600px;
    width: 100%;
    margin: 120px auto;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}
.wrapper header {
    font-size: 2rem;
    font-weight: 600;
}
.wrapper .todo-input {
    margin: 20px 0;
    width: 100%;
    display: flex;
    height: 45px;
}
.todo-input input {
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 1rem;
    padding-left: 15px;
    transition: all 0.3s ease;
}
.todo-input input:focus {
    border-color: #27ae60;
}
.todo-input button {
    width: 50px;
    height: 100%;
    border: none;
    color: #fff;
    margin-left: 5px;
    font-size: 1.5rem;
    background: #27ae60;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.3s ease;
}
.todo-input button:hover {
    opacity: 0.8;
}
.todo-input button:disabled {
    opacity: 0.8;
    pointer-events: none;
    background: #7f8c8d;
}
.wrapper .tasks {
    max-height: 350px;
    overflow-y: auto;
}
.tasks li {
    position: relative;
    list-style: none;
    margin-bottom: 8px;
    background: #f2f2f2;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: default;
    overflow: hidden;
    word-wrap: break-word;
}
.tasks li.completed {
    text-decoration: line-through;
    color: #7f8c8d;
    background: #e6e6e6;
}
.tasks li .control {
    width: 24px;
    margin: 0 5px;
    text-align: center;
    cursor: pointer;
    font-size: 1.25rem;
    opacity: 1;
}
.tasks li .control:hover {
    opacity: 0.75;
}
.tasks li .controls {
    display: flex;
    position: absolute;
    right: -140px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s ease;
    padding: 0 5px;
}
.tasks li:hover .controls {
    right: 0px;
}

.text-muted { color: #7f8c8d; }
.text-danger { color: #e74c3c; }
.text-warning { color: #f39c12; }
.text-success { color: #2ecc71; }

.mb-0 { margin-bottom: 0; }
.mb-1 { margin-bottom: .25rem; }
.mb-2 { margin-bottom: .5rem; }
.mb-3 { margin-bottom: 1rem; }
.mb-4 { margin-bottom: 1.5rem; }

.pl-0 { padding-left: 0; }
.pl-1 { padding-left: .25rem; }
.pl-2 { padding-left: .5rem; }
.pl-3 { padding-left: 1rem; }
.pl-4 { padding-left: 1.5rem; }

p {
    margin-bottom: 1rem;
}
.debug {
    background-color: #373B41;
    margin-bottom: 1rem;
    box-shadow: none;
    word-wrap: break-word;
    border-radius: 5px;
}
.debug pre {
    padding: 1rem;
    margin: 0;
    font-size: .75rem;
    color: #fff;
}
pre, code, kbd, samp {
    font-family: "SFMono-Regular",Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 1em;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 1rem;
    font-weight: 500;
    line-height: 1.1;
}
ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}
ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
